ul {
    list-style: none;
    padding: 0;

    .header {
        font-weight: bold;
    }    
}

li {
    display: flex;

    & > div {
        flex: 1;
    }

    .number {
        text-align: right;
    }
}

.filter {
    display: flex;
    align-items: center;
}