<div *ngIf="issues">
  <div class="filter">
    Only show issues from:
    <input [(ngModel)]="range" type="range" min="0" max="{{maxRange}}" (change)="changeRange(range)" />
    {{range}}
  </div>

  <ul>
    <li class="header">
      <div>Firstname</div>
      <div>Surname</div>
      <div class="number">Issue count</div>
      <div class="number">Date of birth</div>
    </li>
    <li *ngFor="let issue of filteredIssues || issues">
      <div>{{ issue.firstname}}</div>
      <div>{{ issue.surname}}</div>
      <div class="number">{{ issue.count}}</div>
      <div class="number">{{ issue.dateOfBirth}}</div>
    </li>
  </ul>
</div>